<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header">
</head>
<body>
<script th:src="@{/javascript/devices.js}" src="/static/javascript/devices.js"></script>
<div class="container-fluid">
    <div th:replace="includes/header :: navigation (selectTab='admin')"></div>

    <div th:replace="includes/header :: adminTabs (selectTab='devices')"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Controllers</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" th:each="controller: ${controllers}">
                        <a href="#" th:href="@{'/web/admin/devices/'+${controller.controllerId}}" class="list-group-item" th:classappend="${selectedController != null and selectedController == controller.controllerId} ? 'active'" th:text="${controller.controllerId}">Text</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" th:if="${selectedController}">
            <div class="panel panel-primary" th:each="plugin : ${plugins}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="'Plugin: ' + ${plugin.name}"></h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>ItemId</td>
                            <td th:text="${plugin.id}"></td>
                        </tr>
                        <tr>
                            <td>PluginId</td>
                            <td th:text="${plugin.pluginId}"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td th:text="${plugin.name}"></td>
                        </tr>
                    </table>

                    <b>Custom Properties</b>
                    <div class="well">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tr th:each="pluginEntry: ${plugin.properties}">
                                <td th:text="${pluginEntry.key}">Key</td>
                                <td th:text="${pluginEntry.value}">Value</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" th:each="device : ${plugin.devices}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" th:href="'#' + ${device.id}" th:text="'Device: ' + ${device.name}"></a><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
                                </h4>
                            </div>

                            <!-- bag overview in instance -->
                            <div th:id="${device.id}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Devices</h4>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Property</th>
                                                    <th>Value</th>
                                                </tr>
                                                </thead>
                                                <tr>
                                                    <td>ItemId</td>
                                                    <td th:text="${device.id}"></td>
                                                </tr>
                                                <tr>
                                                    <td>DeviceId</td>
                                                    <td th:text="${device.deviceId}"></td>
                                                </tr>
                                                <tr>
                                                    <td>Name</td>
                                                    <td th:text="${device.name}"></td>
                                                </tr>
                                            </table>

                                            <b>Custom Properties</b>
                                            <div class="well">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Property</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    </thead>
                                                    <tr th:each="deviceEntry: ${device.properties}">
                                                        <td th:text="${deviceEntry.key}">Key</td>
                                                        <td th:text="${deviceEntry.value}">Value</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="includes/header :: footer"></div>
</div>

</body>
</html>